## Importando bibliotecas e lendo arquivo

In [2]:
# Importar pandas
import pandas as pd

Dataset utilizado
https://caelum-online-public.s3.amazonaws.com/2030-entendendo-formulas-dax/01/Preparando-o-ambiente.zip

In [52]:
# Ler arquivo Excel
itens_notas = pd.read_excel("Data/dataset-vendas.xlsx", "Itens Notas")
notas = pd.read_excel("Data/dataset-vendas.xlsx", "Notas")
produtos = pd.read_excel("Data/dataset-vendas.xlsx", "Produtos")
vendedores = pd.read_excel("Data/dataset-vendas.xlsx", "Vendedores")

## Explorando dados

### Head

In [61]:
# Primeiras linhas itens notas
print(itens_notas.head())

   numero_nota  codigo_produto  quantidade
0        27192         1022450          68
1        27227         1022450          72
2        27235         1022450          30
3        27250         1022450          26
4        27254         1022450          94

In [63]:
# Primeiras linhas notas
print(notas.head())

   matricula_vendedor data_venda  numero_nota  imposto
0                 235 2015-01-01          100      0.1
1                 235 2015-01-01          113      0.1
2                 235 2015-01-01          114      0.1
3                 235 2015-01-01          116      0.1
4                 235 2015-01-01          120      0.1

In [65]:
# Primeiras linhas produtos
print(produtos.head())

   codigo_produto                                            nome   tipo  \
0         1000889            Desmistificando Business Inteligence  Ebook
1         1002334                                      BI na veia  Livro
2         1002767  Power BI: 10 dicas para o tratamento dos dados  Ebook
3         1004327                   Tudo sobre o Power BI Desktop  Livro
4         1013793                                  O poder do DAX  Livro

    valor
0   6.309
1  42.000
2   8.410
3  35.000
4  24.010

In [73]:
# Primeiras linhas vendedores
print(vendedores.head())

   matricula              nome  percentual_comissao  \
0        235       David Neves                 0.08
1        236  Thiago Gonçalves                 0.08
2        237     Allan Spadini                 0.11

                                          url_imagem
0  https://www.gravatar.com/avatar/5645655c7c3278...
1  https://www.gravatar.com/avatar/a1720bb05089f1...
2  https://www.gravatar.com/avatar/cfda15dded9077...

### Info

In [83]:
# Informações do Dataset itens notas
print(itens_notas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213364 entries, 0 to 213363
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   numero_nota     213364 non-null  int64
 1   codigo_produto  213364 non-null  int64
 2   quantidade      213364 non-null  int64
dtypes: int64(3)
memory usage: 4.9 MB
None

In [90]:
# Informações do Dataset notas
print(notas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87877 entries, 0 to 87876
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   matricula_vendedor  87877 non-null  int64
 1   data_venda          87877 non-null  datetime64[ns]
 2   numero_nota         87877 non-null  int64
 3   imposto             87877 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 2.7 MB
None

In [85]:
# Informações do Dataset produtos
print(produtos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   codigo_produto  28 non-null     int64
 1   nome            28 non-null     string
 2   tipo            28 non-null     string
 3   valor           28 non-null     float64
dtypes: float64(1), int64(1), string(2)
memory usage: 1.0 KB
None

In [86]:
# Informações do Dataset vendedores
print(vendedores.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   matricula            3 non-null      int64
 1   nome                 3 non-null      string
 2   percentual_comissao  3 non-null      float64
 3   url_imagem           3 non-null      string
dtypes: float64(1), int64(1), string(2)
memory usage: 224.0 bytes
None

### Describe

In [ ]:
# Estatisticas descritivas itens notas
print(itens_notas.describe())

              Numero  Codigo do produto     Quantidade  Unnamed: 3  \
count  213364.000000       2.133640e+05  213364.000000         0.0
mean    43991.334297       7.539346e+05      54.499283         NaN
std     25358.475034       3.077537e+05      25.981520         NaN
min       100.000000       2.299000e+05      10.000000         NaN
25%     22034.750000       4.797450e+05      32.000000         NaN
50%     43980.000000       7.889750e+05      54.000000         NaN
75%     65928.250000       1.022450e+06      77.000000         NaN
max     87976.000000       1.101035e+06      99.000000         NaN

       Unnamed: 4  Unnamed: 5
count         0.0         0.0
mean          NaN         NaN
std           NaN         NaN
min           NaN         NaN
25%           NaN         NaN
50%           NaN         NaN
75%           NaN         NaN
max           NaN         NaN

In [26]:
# Estatisticas descritivas notas
print(notas.describe())

          Matricula                           Data       Numero       Imposto
count  87877.000000                          87877  87877.00000  87877.000000
mean     235.996859  2016-08-13 12:36:49.724956672  44038.00000      0.109984
min      235.000000            2015-01-01 00:00:00    100.00000      0.100000
25%      235.000000            2015-10-23 00:00:00  22069.00000      0.100000
50%      236.000000            2016-08-12 00:00:00  44038.00000      0.100000
75%      237.000000            2017-06-05 00:00:00  66007.00000      0.120000
max      237.000000            2018-03-28 00:00:00  87976.00000      0.120000
std        0.815919                            NaN  25368.04914      0.010000

In [27]:
# Estatisticas descritivas produtos
print(produtos.describe())

       Codigo do produto      Preço
count       2.800000e+01  28.000000
mean        9.950822e+05  20.368411
std         7.686448e+05  13.856121
min         2.317760e+05   4.904000
25%         7.164912e+05   7.710125
50%         9.198540e+05  19.687500
75%         1.038628e+06  29.384000
max         4.000001e+06  48.990000

In [28]:
# Estatisticas descritivas vendedore
print(vendedores.describe())

       Matricula  Percentual Comissao
count        3.0             3.000000
mean       236.0             0.090000
std          1.0             0.017321
min        235.0             0.080000
25%        235.5             0.080000
50%        236.0             0.080000
75%        236.5             0.095000
max        237.0             0.110000

### Contar valores nulos por coluna

In [25]:
print("--------Itens Notas---------")
print(itens_notas.isnull().sum())

print("\n----------Notas-----------")
print(notas.isnull().sum())

print("\n---------Produtos---------")
print(produtos.isnull().sum())

print("\n--------Vendedores--------")
print(vendedores.isnull().sum())

--------Itens Notas---------
Numero                    0
Codigo do produto         0
Quantidade                0
Unnamed: 3           213364
Unnamed: 4           213364
Unnamed: 5           213364
Unnamed: 6           213363
dtype: int64

----------Notas-----------
Matricula    0
Data         0
Numero       0
Imposto      0
dtype: int64

---------Produtos---------
Codigo do produto    0
Nome do produto      0
Tipo                 0
Preço                0
dtype: int64

--------Vendedores--------
Matricula              0
Nome                   0
Percentual Comissao    0
Imagem                 0
dtype: int64

## Limpeza e tratamento dos dados

A fazer:
 - Remover colunas vazias
 - Renomear colunas para padrão do banco de dados
 - Ajustar tipos das colunas

### Remover colunas vazias

In [60]:
# Remover colunas Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6

itens_notas = itens_notas.drop(columns=['Unnamed: 3', 'Unnamed: 4','Unnamed: 5', 'Unnamed: 6'])

### Renomar colunas

In [57]:
# Itens Nota
itens_notas = itens_notas.rename(columns={
    'Numero': 'numero_nota',
    'Codigo do produto': 'codigo_produto',
    'Quantidade': 'quantidade'
})

In [62]:
# Notas

notas = notas.rename(columns={
    'Matricula': 'matricula_vendedor',
    'Data': 'data_venda',
    'Numero': 'numero_nota',
    'Imposto': 'imposto'
})

In [64]:
produtos = produtos.rename(columns={
    'Codigo do produto': 'codigo_produto',
    'Nome do produto': 'nome',
    'Tipo': 'tipo',
    'Preço': 'valor'
})

In [72]:
vendedores = vendedores.rename(columns={
    'Matricula': 'matricula',
    'Nome': 'nome',
    'Percentual Comissao': 'percentual_comissao',
    'Imagem': 'url_imagem'
})

### Tipos das colunas

In [89]:
# Dataframe Notas

notas['data_venda'] = pd.to_datetime(notas['data_venda'])

In [79]:
# Dataframe Produtos

produtos['nome'] = produtos['nome'].astype('string')
produtos['tipo'] = produtos['tipo'].astype('string')

In [82]:
# Dataframe Vendedores

vendedores['nome'] = vendedores['nome'].astype('string')
vendedores['url_imagem'] = vendedores['url_imagem'].astype('string')

## Exportando dataframe tratado

In [ ]:
# # exportando para CSV
# df.to_csv('Data/dados_tratados_vendas.csv', index=False)