## Importando bibliotecas e lendo arquivo

In [87]:
# Importar pandas
import pandas as pd

Dataset utilizado
https://caelum-online-public.s3.amazonaws.com/2030-entendendo-formulas-dax/01/Preparando-o-ambiente.zip

In [88]:
# Ler arquivo Excel
itens_notas = pd.read_excel("Data/dataset-vendas.xlsx", "Itens Notas")
notas = pd.read_excel("Data/dataset-vendas.xlsx", "Notas")
produtos = pd.read_excel("Data/dataset-vendas.xlsx", "Produtos")
vendedores = pd.read_excel("Data/dataset-vendas.xlsx", "Vendedores")

## Explorando dados

### Head

In [112]:
# Primeiras linhas itens notas
print(itens_notas.head())

   numero_nota  codigo_produto  quantidade  valor_unitario  valor_venda
0          100         1101035          26          36.000      936.000
1          100          520380          67          48.990     3282.330
2          100          773912          66          21.000     1386.000
3          100         1013793          63          24.010     1512.630
4          101         1000889          35           6.309      220.815

In [113]:
# Primeiras linhas notas
print(notas.head())

   matricula_vendedor data_venda  numero_nota  imposto
0                 235 2015-01-01          100      0.1
1                 235 2015-01-01          113      0.1
2                 235 2015-01-01          114      0.1
3                 235 2015-01-01          116      0.1
4                 235 2015-01-01          120      0.1

In [114]:
# Primeiras linhas produtos
print(produtos.head())

   codigo_produto                                            nome   tipo  \
0         1000889            Desmistificando Business Inteligence  Ebook
1         1002334                                      BI na veia  Livro
2         1002767  Power BI: 10 dicas para o tratamento dos dados  Ebook
3         1004327                   Tudo sobre o Power BI Desktop  Livro
4         1013793                                  O poder do DAX  Livro

    valor
0   6.309
1  42.000
2   8.410
3  35.000
4  24.010

In [115]:
# Primeiras linhas vendedores
print(vendedores.head())

   matricula              nome  percentual_comissao  \
0        235       David Neves                 0.08
1        236  Thiago Gonçalves                 0.08
2        237     Allan Spadini                 0.11

                                          url_imagem
0  https://www.gravatar.com/avatar/5645655c7c3278...
1  https://www.gravatar.com/avatar/a1720bb05089f1...
2  https://www.gravatar.com/avatar/cfda15dded9077...

### Info

In [116]:
# Informações do Dataset itens notas
print(itens_notas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213364 entries, 0 to 213363
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   numero_nota     213364 non-null  int64
 1   codigo_produto  213364 non-null  int64
 2   quantidade      213364 non-null  int64
 3   valor_unitario  177514 non-null  float64
 4   valor_venda     177514 non-null  float64
dtypes: float64(2), int64(3)
memory usage: 8.1 MB
None

In [117]:
# Informações do Dataset notas
print(notas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87877 entries, 0 to 87876
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   matricula_vendedor  87877 non-null  int64
 1   data_venda          87877 non-null  datetime64[ns]
 2   numero_nota         87877 non-null  int64
 3   imposto             87877 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 2.7 MB
None

In [118]:
# Informações do Dataset produtos
print(produtos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   codigo_produto  28 non-null     int64
 1   nome            28 non-null     string
 2   tipo            28 non-null     string
 3   valor           28 non-null     float64
dtypes: float64(1), int64(1), string(2)
memory usage: 1.0 KB
None

In [119]:
# Informações do Dataset vendedores
print(vendedores.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   matricula            3 non-null      int64
 1   nome                 3 non-null      string
 2   percentual_comissao  3 non-null      float64
 3   url_imagem           3 non-null      string
dtypes: float64(1), int64(1), string(2)
memory usage: 224.0 bytes
None

### Describe

In [120]:
# Estatisticas descritivas itens notas
print(itens_notas.describe())

         numero_nota  codigo_produto     quantidade  valor_unitario  \
count  213364.000000    2.133640e+05  213364.000000   177514.000000
mean    43991.334297    7.539346e+05      54.499283       20.803348
std     25358.475034    3.077537e+05      25.981520       14.227956
min       100.000000    2.299000e+05      10.000000        4.904000
25%     22034.750000    4.797450e+05      32.000000        7.709000
50%     43980.000000    7.889750e+05      54.000000       19.505000
75%     65928.250000    1.022450e+06      77.000000       32.000000
max     87976.000000    1.101035e+06      99.000000       48.990000

         valor_venda
count  177514.000000
mean     1133.243918
std      1012.779609
min        49.040000
25%       363.488000
50%       721.685000
75%      1710.720000
max      4850.010000

In [121]:
# Estatisticas descritivas notas
print(notas.describe())

       matricula_vendedor                     data_venda  numero_nota  \
count        87877.000000                          87877  87877.00000
mean           235.996859  2016-08-13 12:36:49.724956416  44038.00000
min            235.000000            2015-01-01 00:00:00    100.00000
25%            235.000000            2015-10-23 00:00:00  22069.00000
50%            236.000000            2016-08-12 00:00:00  44038.00000
75%            237.000000            2017-06-05 00:00:00  66007.00000
max            237.000000            2018-03-28 00:00:00  87976.00000
std              0.815919                            NaN  25368.04914

            imposto
count  87877.000000
mean       0.109984
min        0.100000
25%        0.100000
50%        0.100000
75%        0.120000
max        0.120000
std        0.010000

In [122]:
# Estatisticas descritivas produtos
print(produtos.describe())

       codigo_produto      valor
count    2.800000e+01  28.000000
mean     9.950822e+05  20.368411
std      7.686448e+05  13.856121
min      2.317760e+05   4.904000
25%      7.164912e+05   7.710125
50%      9.198540e+05  19.687500
75%      1.038628e+06  29.384000
max      4.000001e+06  48.990000

In [123]:
# Estatisticas descritivas vendedore
print(vendedores.describe())

       matricula  percentual_comissao
count        3.0             3.000000
mean       236.0             0.090000
std          1.0             0.017321
min        235.0             0.080000
25%        235.5             0.080000
50%        236.0             0.080000
75%        236.5             0.095000
max        237.0             0.110000

### Contar valores nulos por coluna

In [124]:
print("--------Itens Notas---------")
print(itens_notas.isnull().sum())

print("\n----------Notas-----------")
print(notas.isnull().sum())

print("\n---------Produtos---------")
print(produtos.isnull().sum())

print("\n--------Vendedores--------")
print(vendedores.isnull().sum())

--------Itens Notas---------
numero_nota           0
codigo_produto        0
quantidade            0
valor_unitario    35850
valor_venda       35850
dtype: int64

----------Notas-----------
matricula_vendedor    0
data_venda            0
numero_nota           0
imposto               0
dtype: int64

---------Produtos---------
codigo_produto    0
nome              0
tipo              0
valor             0
dtype: int64

--------Vendedores--------
matricula              0
nome                   0
percentual_comissao    0
url_imagem             0
dtype: int64

## Limpeza e tratamento dos dados

A fazer:
 - Remover colunas vazias
 - Renomear colunas para padrão do banco de dados
 - Ajustar tipos das colunas

### Remover colunas vazias

In [102]:
# Remover colunas Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6

itens_notas = itens_notas.drop(columns=['Unnamed: 3', 'Unnamed: 4','Unnamed: 5', 'Unnamed: 6'])

### Renomar colunas

In [103]:
# Itens Nota
itens_notas = itens_notas.rename(columns={
    'Numero': 'numero_nota',
    'Codigo do produto': 'codigo_produto',
    'Quantidade': 'quantidade'
})

In [104]:
# Notas

notas = notas.rename(columns={
    'Matricula': 'matricula_vendedor',
    'Data': 'data_venda',
    'Numero': 'numero_nota',
    'Imposto': 'imposto'
})

In [105]:
produtos = produtos.rename(columns={
    'Codigo do produto': 'codigo_produto',
    'Nome do produto': 'nome',
    'Tipo': 'tipo',
    'Preço': 'valor'
})

In [106]:
vendedores = vendedores.rename(columns={
    'Matricula': 'matricula',
    'Nome': 'nome',
    'Percentual Comissao': 'percentual_comissao',
    'Imagem': 'url_imagem'
})

### Tipos das colunas

In [107]:
# Dataframe Notas

notas['data_venda'] = pd.to_datetime(notas['data_venda'])

In [108]:
# Dataframe Produtos

produtos['nome'] = produtos['nome'].astype('string')
produtos['tipo'] = produtos['tipo'].astype('string')

In [109]:
# Dataframe Vendedores

vendedores['nome'] = vendedores['nome'].astype('string')
vendedores['url_imagem'] = vendedores['url_imagem'].astype('string')

## Criando novas colunas

In [110]:
# Colocando coluna 'valor' de produtos em itens_notas
itens_notas = itens_notas.merge(produtos[['codigo_produto', 'valor']],
                                on='codigo_produto',
                                how='left')

# Renomear coluna
itens_notas = itens_notas.rename(columns={'valor': 'valor_unitario'})

# Criar nova coluna calculada
itens_notas['valor_venda'] = itens_notas['quantidade'] * itens_notas['valor_unitario']

print(itens_notas.head())

   numero_nota  codigo_produto  quantidade  valor_unitario  valor_venda
0          100         1101035          26          36.000      936.000
1          100          520380          67          48.990     3282.330
2          100          773912          66          21.000     1386.000
3          100         1013793          63          24.010     1512.630
4          101         1000889          35           6.309      220.815

## Exportando dataframe tratado

In [ ]:
# exportando para SQL (psycopg2)

# RELACIONAMENOS:

# itens_notas(numero_nota) n - n notas(numero_nota) - Uma nota pode ter varios itens
# itens_notas(codigo_produto) n - 1 produtos(codigo_produto) - Um produto pode estar em varias notas
# notas(matricula_vendedor) n - 1 vendedor(matricula) - Um vendedor pode estar em varias notas

### Conexão com banco de dados

In [49]:
import psycopg2
import os
from dotenv import load_dotenv

load_dotenv() # Carrega arquivos do .env

try:
    # Conexão
    conn = psycopg2.connect(
        host=os.getenv("DB_HOST"),
        database=os.getenv("DB_NAME"),
        user=os.getenv("DB_USER"),
        password=os.getenv("DB_PASSWORD"),
        port=os.getenv("DB_PORT")
    )

    # Criar cursor (objeto usado para enviar comandos sql)
    cur = conn.cursor()

    # Teste de conexão (executando um simples SELECT)
    cur.execute("SELECT 1;")
    result = cur.fetchone()

    if result:
        print("Conexão bem-sucedida!")
    else:
        print("Falha na consulta.")

except psycopg2.OperationalError as e:
    print(f"Erro de conexão: {e}")

Conexão bem-sucedida!

### Criando tabelas

In [51]:
# Tabela Produtos
cur.execute("""
CREATE TABLE IF NOT EXISTS produtos (
    codigo_produto INT PRIMARY KEY,
    nome TEXT,
    tipo TEXT,
    valor NUMERIC
)
""")

# Tabela Vendedores
cur.execute("""
CREATE TABLE IF NOT EXISTS vendedores (
    matricula INT PRIMARY KEY,
    nome TEXT,
    percentual_comissao NUMERIC,
    url_imagem TEXT
)
""")

# Tabela Notas
cur.execute("""
CREATE TABLE IF NOT EXISTS notas (
    numero_nota INT PRIMARY KEY,
    data_venda DATE,
    imposto NUMERIC,
    matricula_vendedor INT,
    FOREIGN KEY (matricula_vendedor) REFERENCES vendedores(matricula)
)
""")

# Tabela Itens_notas
cur.execute("""
CREATE TABLE IF NOT EXISTS itens_notas (
    numero_nota INT,
    codigo_produto INT,
    quantidade INT,
    valor_unitario NUMERIC,
    valor_venda NUMERIC,
    FOREIGN KEY (numero_nota) REFERENCES notas(numero_nota),
    FOREIGN KEY (codigo_produto) REFERENCES produtos(codigo_produto)
)
""")

# Salvar alterações
conn.commit()

### Inserindo dados

In [36]:
cur.execute("SELECT current_database();")  # Executa a consulta
db_name = cur.fetchone()  # Obtém o resultado da consulta
print(db_name[0])  # Imprime o nome do banco de dados (primeiro valor da tupla)

projeto_vendas

### Encerrando conexão

In [52]:
# Fecha conexão
if conn:
    cur.close()
    conn.close()
    print ("Conexão encerrada!")

Conexão encerrada!