## Importando bibliotecas e lendo arquivo

In [1]:
# Importar pandas
import pandas as pd

Dataset utilizado
https://www.kaggle.com/datasets/dienert/vendas

In [17]:
# Ler csv
df = pd.read_csv("Data/vendas.csv")

## Explorando dados

In [18]:
# Primeiras linhas
print(df.head())

           name                               sale_id  product_id    product  \
0  Mason Howell  442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2         296  Lang Club
1  Mason Howell  442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2         296  Lang Club
2  Mason Howell  442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2         296  Lang Club
3  Mason Howell  442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2         296  Lang Club
4  Mason Howell  442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2         296  Lang Club

   price_y  quantity   price_x                 created_at  \
0  866.694   3.89990  2433.800  1997-09-17 21:50:14+00:00
1  866.694   4.00000  1196.580  1997-09-17 21:50:14+00:00
2  866.694   1.38452  1975.000  1997-09-17 21:50:14+00:00
3  866.694   2.22500   119.526  1997-09-17 21:50:14+00:00
4  866.694   2.89000  2386.940  1997-09-17 21:50:14+00:00

                  updated_at                     email
0  2007-02-15 19:34:06+00:00  jessica.cole@example.net
1  2007-02-15 19:34:06+00:00  jessica.cole@example.net
2  2007-02-15 19:34:06+00:00  jessica.cole@example.net
3  2007-02-15 19:34:06+00:00  jessica.cole@example.net
4  2007-02-15 19:34:06+00:00  jessica.cole@example.net

In [28]:
# Informações do Dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 43955 entries, 0 to 44499
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   nome                43955 non-null  object
 1   id_venda            43955 non-null  object
 2   id_produto          43955 non-null  int64
 3   nome_produto        43955 non-null  object
 4   preco_venda         43955 non-null  float64
 5   quantidade_vendida  43955 non-null  float64
 6   preco_original      43955 non-null  float64
 7   created_at          43955 non-null  datetime64[ns, UTC]
 8   updated_at          43955 non-null  datetime64[ns, UTC]
 9   email_cliente       43955 non-null  object
 10  total_venda         43955 non-null  float64
dtypes: datetime64[ns, UTC](2), float64(4), int64(1), object(4)
memory usage: 4.0+ MB
None

In [20]:
# Estatisticas descritivas
print(df.describe())

         product_id       price_y      quantity       price_x
count  44500.000000  44500.000000  44500.000000  44500.000000
mean     300.387640   1897.930295      2.505359   1999.161519
std       57.734845   1144.833746      1.446676   1155.451744
min      201.000000     58.000000      0.000000      0.055818
25%      250.000000    902.364000      1.241923    994.173000
50%      300.000000   1754.000000      2.500000   2001.355000
75%      350.000000   2988.600000      3.779000   3001.707500
max      400.000000   3982.340000      5.000000   4000.000000

## Limpeza e tratamento dos dados

In [21]:
# Renomeando as colunas para português
df = df.rename(columns={
    'name': 'nome',
    'sale_id': 'id_venda',
    'product_id': 'id_produto',
    'product': 'nome_produto',
    'price_y': 'preco_venda',
    'quantity': 'quantidade_vendida',
    'price_x': 'preco_original',
    'email': 'email_cliente'
})

In [23]:
# Conversão de datas
df['created_at'] = pd.to_datetime(df['created_at'])
df['updated_at'] = pd.to_datetime(df['updated_at'])

In [26]:
# Removendo valores negativos ou Zero
df = df[(df['quantidade_vendida'] > 0) & (df['preco_venda'] > 0)]

In [27]:
# Criando coluna de vendas totais
df['total_venda'] = df['preco_venda'] * df['quantidade_vendida']

In [29]:
# Diferença de preço original e preço vendido
df['diferenca_preco'] = df['preco_venda'] - df['preco_original']

## Exportando dataframe tratado

In [32]:
# exportando para CSV
df.to_csv('Data/dados_tratados_vendas.csv', index=False)