## Importando bibliotecas e lendo arquivo

In [2]:
# Importar pandas
import pandas as pd

Dataset utilizado
https://caelum-online-public.s3.amazonaws.com/2030-entendendo-formulas-dax/01/Preparando-o-ambiente.zip

In [4]:
# Ler csv
itens_notas = pd.read_excel("Data/dataset-vendas.xlsx", "Itens Notas")

## Explorando dados

In [5]:
# Primeiras linhas
print(itens_notas.head())

   Numero  Codigo do produto  Quantidade  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0   27192            1022450          68         NaN         NaN         NaN
1   27227            1022450          72         NaN         NaN         NaN
2   27235            1022450          30         NaN         NaN         NaN
3   27250            1022450          26         NaN         NaN         NaN
4   27254            1022450          94         NaN         NaN         NaN

  Unnamed: 6
0       olla
1        NaN
2        NaN
3        NaN
4        NaN

In [6]:
# Informações do Dataset
print(itens_notas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213364 entries, 0 to 213363
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Numero             213364 non-null  int64
 1   Codigo do produto  213364 non-null  int64
 2   Quantidade         213364 non-null  int64
 3   Unnamed: 3         0 non-null       float64
 4   Unnamed: 4         0 non-null       float64
 5   Unnamed: 5         0 non-null       float64
 6   Unnamed: 6         1 non-null       object
dtypes: float64(3), int64(3), object(1)
memory usage: 11.4+ MB
None

In [7]:
# Estatisticas descritivas
print(itens_notas.describe())

              Numero  Codigo do produto     Quantidade  Unnamed: 3  \
count  213364.000000       2.133640e+05  213364.000000         0.0
mean    43991.334297       7.539346e+05      54.499283         NaN
std     25358.475034       3.077537e+05      25.981520         NaN
min       100.000000       2.299000e+05      10.000000         NaN
25%     22034.750000       4.797450e+05      32.000000         NaN
50%     43980.000000       7.889750e+05      54.000000         NaN
75%     65928.250000       1.022450e+06      77.000000         NaN
max     87976.000000       1.101035e+06      99.000000         NaN

       Unnamed: 4  Unnamed: 5
count         0.0         0.0
mean          NaN         NaN
std           NaN         NaN
min           NaN         NaN
25%           NaN         NaN
50%           NaN         NaN
75%           NaN         NaN
max           NaN         NaN

## Limpeza e tratamento dos dados

In [ ]:
# # Renomeando as colunas para português
# df = df.rename(columns={
#     'name': 'nome',
#     'sale_id': 'id_venda',
#     'product_id': 'id_produto',
#     'product': 'nome_produto',
#     'price_y': 'preco_venda',
#     'quantity': 'quantidade_vendida',
#     'price_x': 'preco_original',
#     'email': 'email_cliente'
# })

In [ ]:
# # Conversão de datas
# df['created_at'] = pd.to_datetime(df['created_at'])
# df['updated_at'] = pd.to_datetime(df['updated_at'])

In [ ]:
# # Removendo valores negativos ou Zero
# df = df[(df['quantidade_vendida'] > 0) & (df['preco_venda'] > 0)]

In [ ]:
# # Criando coluna de vendas totais
# df['total_venda'] = df['preco_venda'] * df['quantidade_vendida']

In [ ]:
# # Diferença de preço original e preço vendido
# df['diferenca_preco'] = df['preco_venda'] - df['preco_original']

## Exportando dataframe tratado

In [ ]:
# # exportando para CSV
# df.to_csv('Data/dados_tratados_vendas.csv', index=False)